.menu-bar .menu{
    -fx-label-padding: 20px;
}
.menu-bar {
    -fx-background-color: #4BFF83;
}
.menu-bar .menu:hover {
    -fx-background-color: #585c59;
}

.menu-bar .menu .menu-item {
    -fx-padding: 18px;
}

.menu-bar .menu .menu-item:hover {
    -fx-background-color: #585c59;
}





